@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;

    --zone-size: 31.25vw;
    --floor-size: 10.41666666666667vw;
    --8-px: 0.4166666666666667vw;
}

/*temp*/

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /*background: #00cae2;*/
}

/*.zone {*/
/*    position: absolute;*/
/*    width: var(--zone-size);*/
/*    height: ;*/
/*    !*height: 100vh;*!*/
/*}*/

/*temp end*/


.capybara {
    /*width: 18.75vw;*/
    width: calc(var(--8-px) * 45);
    position: absolute;
    bottom: calc(-25 * var(--8-px));
    transform: translate(-50%, -50%);
    transition: left linear 30ms, top linear 60ms;
    z-index: 6;
}

.top_wrapper {
    /*background: red;*/
    position: absolute;
    width: 100vw;
    height: 53%;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_wrapper {
    position: absolute;
    top: 53%;
    /* left: 50%; */
    display: flex;
    /* transform: translate(-50%, 15%); */
    flex-direction: column;
    align-items: center;
}

.custom_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wall {
    z-index: 5;
    /*opacity: 0.5;*/
    width: 23.75vw;
    position: absolute;
    /*72px*/
    /* bottom: calc(100% - var(--floor-size)); */
    /* left: calc((100% - var(
    --zone-size)) / 2); */
    transform: translate(calc(-100% + var(--8-px) * 6), calc(-100% + var(--8-px) * 19));
}

.wall_two {
    /*left: unset;*/
    /*right: calc((100% - var(--zone-size)) / 2);*/
    transform: translate(calc(100% - var(--8-px) * 6), calc(-100% + var(--8-px) * 19)) scaleX(-1);
}

.air_wrapper {
    /*    background: rgb(255,255,255);*/
    /*    background: linear-gradient(0deg, rgb(255,255,255) 0%, rgb(122, 218, 252) 100%);*/
    overflow: hidden;
    width: 102%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.water_wrapper {
    /*width: 100vw;*/
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;

    /*animation: animWater 2s linear infinite;*/
}

.water_anim {
    width: 8px;
    height: var(--8-px);
    background: #97b5fc;
    position: absolute;
    left: 0;
    bottom: 25%;
    animation: animWater 20s linear;
}

.air_anim{
    width: calc(var(--8-px) * 2);
    height: calc(var(--8-px) * 2);
    background: rgb(131, 220, 252);;
    position: absolute;
    left: 0;
    bottom: 16px;
    animation: animWater 30s linear;
}

.air {
    height: var(--8-px);
    width: 100%;
    background: red;
}

.floor{
    width: var(--floor-size);
}
.stone{
    width: 10.41666666666667vw;
}
.water{
    width: var(--floor-size);
}
.node{
    width: 10.41666666666667vw;
}
@keyframes animWater {
    0% {
        left: 0%;
    }
    /*99% {*/
    /*    transform: translateX(200%);*/
    /*}*/
    100% {
        left: 100%;
    }
}

.game_start{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(0,0,0,0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease-in-out;
}

.pauseButton{
    position: absolute;
    top: 0;
    right: 0;

    filter: invert(40%) sepia(85%) saturate(612%) hue-rotate(151deg) brightness(93%) contrast(105%);
    opacity: 0;
    width: calc(var(--8-px) * 10);
    height: calc(var(--8-px) * 10);
    transition: opacity 1s ease-in;
    cursor: pointer;
}

.pauseButton:hover{
    filter: invert(50%) sepia(40%) saturate(3560%) hue-rotate(160deg) brightness(93%) contrast(101%);
}

.menu_container{
    width: auto;
    height: 60vh;
    /*background: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.title_page{
    margin: 20px;
    font-size: calc(var(--8-px) * 8);
    font-weight: 200;
}

.subtitle_page{
    font-size: calc(var(--8-px) * 5);
    font-weight: 100;

    margin: calc(var(--8-px) * 2.5);
    /*    20 20 90*/
}

.button_page.start{
    margin: calc(var(--8-px) * 2.5);
    margin-top: calc(var(--8-px) * 11.25);
}

.button_page{
    margin: calc(var(--8-px) * 2.5);
    font-size: calc(var(--8-px) * 5);
    font-weight: 300;
    cursor: pointer;
}

.button_page:hover{
    color: antiquewhite;
}

.mandarines_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.data_score{
    z-index: 10;
    margin: calc(var(--8-px) * 2.5);
    position: absolute;
    left: 0;
    top: 0;
}

.score_page{
    color: #007194;
    font-size: calc(var(--8-px) * 5);
}

.lose_wrapper{
    margin-top: calc(var(--8-px) * 2.5);
}

.mandarin_lose{
    width: 3.333333333333333vw;
    margin-right:  calc(var(--8-px));
}

.mandarin{
    position: absolute;
    top: calc(var(--8-px) * -30);
    left: calc(var(--8-px) * 73);
    width: 3.333333333333333vw;
    /*left: 50%;*/
    /*transform: translate(calc(var(--8-px) * 60), calc(var(--8-px) * -31));*/
    /*top: calc(var(--8-px) * -31);*/
    /*left: calc(var(--8-px) * 60);*/
    /*animation: anim_wall_1 10s linear forwards;*/
    /*width: 100vw;*/
    /*height: 8px;*/
    /*transition: left 1s linear;*/
}

.wa0{
    animation: anim_wall_0 10s linear forwards;
}
.wa3{
    animation: anim_wall_3 10s linear forwards;
}

@keyframes animBlink {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animRotate {
    0% {
        transform: rotate(0deg);
    }
    /*99% {*/
    /*    transform: translateX(200%);*/
    /*}*/
    100% {
        transform: rotate(360deg);
    }
}

@keyframes anim_wall_0 {
    0% {
        z-index: 5;
        left: calc(var(--8-px) * 73);
        top: calc(var(--8-px) * -30);
    }
    /*99% {*/
    /*    transform: translateX(200%);*/
    /*}*/
    45% {
        left: calc(var(--8-px) * 93);
        top: calc(var(--8-px) * -30);
    }

    50%{
        left: calc(var(--8-px) * 95);
        top: calc(var(--8-px) * -29);
    }
    55%{
        left: calc(var(--8-px) * 97);
        top: calc(var(--8-px) * -29);
    }
    60%{
        left: calc(var(--8-px) * 99);
        top: calc(var(--8-px) * -28);
    }
    65%{
        left: calc(var(--8-px) * 101);
        top: calc(var(--8-px) * -28);
    }
    70%{
        left: calc(var(--8-px) * 103);
        top: calc(var(--8-px) * -26);
    }
    80%{
        left: calc(var(--8-px) * 108);
        top: calc(var(--8-px) * -26);
    }
    90%{
        z-index: 5;
        left: calc(var(--8-px) * 108);
        top: calc(var(--8-px) * -3);
    }
    100%{
        z-index: 4;
        left: calc(var(--8-px) * 110);
        top: calc(var(--8-px) * -10);
    }
}

@keyframes anim_wall_2 {
    0% {
        z-index: 5;
        left: calc(var(--8-px) * 193);
        top: calc(var(--8-px) * -30);
    }
    /*99% {*/
    /*    transform: translateX(200%);*/
    /*}*/
    45% {
        left: calc(var(--8-px) * 173);
        top: calc(var(--8-px) * -30);
    }

    50%{
        left: calc(var(--8-px) * 171);
        top: calc(var(--8-px) * -29);
    }
    55%{
        left: calc(var(--8-px) * 169);
        top: calc(var(--8-px) * -29);
    }
    60%{
        left: calc(var(--8-px) * 167);
        top: calc(var(--8-px) * -28);
    }
    65%{
        left: calc(var(--8-px) * 165);
        top: calc(var(--8-px) * -28);
    }
    70%{
        left: calc(var(--8-px) * 163);
        top: calc(var(--8-px) * -26);
    }
    80%{
        left: calc(var(--8-px) * 158);
        top: calc(var(--8-px) * -26);
    }
    90%{
        z-index: 5;
        left: calc(var(--8-px) * 158);
        top: calc(var(--8-px) * -3);
    }
    100%{
        z-index: 4;
        left: calc(var(--8-px) * 156);
        top: calc(var(--8-px) * -10);
    }
}

@keyframes anim_wall_1 {
    0% {
        z-index: 5;
        left: calc(var(--8-px) * 73);
        top: calc(var(--8-px) * -11);
    }
    /*99% {*/
    /*    transform: translateX(200%);*/
    /*}*/
    45% {
        left: calc(var(--8-px) * 85);
        top: calc(var(--8-px) * -11);
    }

    50%{
        left: calc(var(--8-px) * 87);
        top: calc(var(--8-px) * -10);
    }
    55%{
        left: calc(var(--8-px) * 89);
        top: calc(var(--8-px) * -10);
    }
    60%{
        left: calc(var(--8-px) * 91);
        top: calc(var(--8-px) * -8);
    }
    65%{
        left: calc(var(--8-px) * 93);
        top: calc(var(--8-px) * -8);
    }
    70%{
        left: calc(var(--8-px) * 95);
        top: calc(var(--8-px) * -6);
    }
    80%{
        left: calc(var(--8-px) * 100);
        top: calc(var(--8-px) * -6);
    }
    82%{
        z-index: 5;
        left: calc(var(--8-px) * 100);
        top: calc(var(--8-px) * -1);
    }
    100%{
        z-index: 4;
        left: calc(var(--8-px) * 99);
        top: calc(var(--8-px) * -10);
    }
}
@keyframes anim_wall_3 {
    0% {
        z-index: 5;
        left: calc(var(--8-px) * 193);
        top: calc(var(--8-px) * -11);
    }
    /*99% {*/
    /*    transform: translateX(200%);*/
    /*}*/
    45% {
        left: calc(var(--8-px) * 181);
        top: calc(var(--8-px) * -11);
    }

    50%{
        left: calc(var(--8-px) * 179);
        top: calc(var(--8-px) * -10);
    }
    55%{
        left: calc(var(--8-px) * 177);
        top: calc(var(--8-px) * -10);
    }
    60%{
        left: calc(var(--8-px) * 175);
        top: calc(var(--8-px) * -8);
    }
    65%{
        left: calc(var(--8-px) * 173);
        top: calc(var(--8-px) * -8);
    }
    70%{
        left: calc(var(--8-px) * 171);
        top: calc(var(--8-px) * -6);
    }
    80%{
        left: calc(var(--8-px) * 167);
        top: calc(var(--8-px) * -6);
    }
    82%{
        z-index: 5;
        left: calc(var(--8-px) * 167);
        top: calc(var(--8-px) * -1);
    }
    100%{
        z-index: 4;
        left: calc(var(--8-px) * 165);
        top: calc(var(--8-px) * -10);
    }
}

@keyframes anim_wall_water_0 {
    0%{
        left: calc(var(--8-px) * 110);
        top: calc(var(--8-px) * -10);
    }
    100%{
        top: calc(var(--8-px) * -10);
        left: 100%;
    }
}

@keyframes anim_wall_water_1 {
    0%{
        left: calc(var(--8-px) * 99);
        top: calc(var(--8-px) * -10);
    }
    100%{
        top: calc(var(--8-px) * -10);
        left: 100%;
    }
}
@keyframes anim_wall_water_2 {
    0%{
        left: calc(var(--8-px) * 156);
        top: calc(var(--8-px) * -10);
    }
    100%{
        top: calc(var(--8-px) * -10);
        left: 100%;
    }
}
@keyframes anim_wall_water_3 {
    0%{
        left: calc(var(--8-px) * 165);
        top: calc(var(--8-px) * -10);
    }
    100%{
        top: calc(var(--8-px) * -10);
        left: 100%;
    }
}

.hit_box{
    z-index: 100;
    position: absolute;
    background: rgba(255, 0, 0, 0.5);
}

.hit_box_mad{
    background: rgba(218, 112, 214, 0.5);
}

.game_buttons{
    /*box-sizing: content-box;*/
    position: absolute;
    width: calc(100% - var(--8-px) * 10);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin: calc(var(--8-px) * 5);
}

.groups_button{
    display: flex;
    flex-direction: column;
}

.groups_button img:nth-child(1){
    margin-bottom: calc(var(--8-px) * 10);
}
.groups_button img{
    width: calc(var(--8-px) * 40);
}